* {
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    margin: 4rem;
}

p {
    font-size: 2rem;
}

.number {
    font-size: 2rem;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 4rem;
    width: 200px;

}

button {
    padding: 8px 19px;
    margin: 3px;
    color: aliceblue;
    border-radius: 7px;
    background-color: #4b4bff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}